<html>
  <head>
      <title>MHGU Filter</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='FilterCSS.css') }}">
      <!-- <script src="HelloWorld.js"></script> -->

  </head>
  <body>
      <!-- <script src="{{ url_for('static', filename='Piece.js') }}" type="module"></script> -->
      <!-- <script src="{{ url_for('static', filename='CheckersJS.js') }}" type="module"></script> -->
      <!-- <script src="{{ url_for('static', filename='AJAX_Test.js') }}"></script> -->
      <script src="{{ url_for('static', filename='init_filter.js') }}" type="module"></script>
      <script src="{{ url_for('static', filename='init_page.js') }}" type="module"></script>

  </body>
</html>
